* {
    box-sizing: border-box;
}

#cointainer {
    position: relative;
}

#button-container button {
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 40px;
    filter: grayscale(100%);
}

.left-arrow:hover {
    filter: grayscale(0);
    border: solid red 2px;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 40px;
}

.zoom-in {
    position: absolute;
    right: 45%;
    font-size: 30px;
}

.zoom-out {
    position: relative;
    left: 35%;
    font-size: 30px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 90vw;
    height: 80vh;
    margin: auto;
}

#buttons {
    text-align: center;
    margin-top: 10px;
}

.round-button {
    border-radius: 50%;
    cursor: pointer;
}