* {
    box-sizing: border-box;
}

#cointainer {
    position: relative;
}

#button-container button {
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 40px;
    cursor: pointer;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 40px;
    cursor: pointer;
}

.zoom-in {
    position: fixed;
    top: 90vh;
    right: 40%;
    font-size: 30px;
    cursor: pointer;
}

.zoom-out {
    position: fixed;
    top: 90vh;
    left: 40%;
    font-size: 30px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    width: 90vw;
    height: 80vh;
    margin: auto;
    margin-top: 40px;
}

